{% extends 'base.html.twig' %}

{% block title %}Catalogue de formation{% endblock %}

{% block body %}
Le catalogue de formation...

<ul>
    <li><a href="#">Lien externe catalogue</a></li>
    <li><a href="#">Lien externe plateforme e-learning</a></li>
</ul>
{% endblock %}
