{% extends 'base.html.twig' %}

{% block title %}Chatbot{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('chatbot') }}
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body chat-care">
                        <ul class="chat">
                            <li class="agent clearfix">
                            <span class="chat-img left clearfix mx-2">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="Agent" class="img-circle"/>
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header clearfix">
                                        <strong class="primary-font">Jack Sparrow</strong> <small
                                                class="right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet.
                                    </p>
                                </div>
                            </li>
                            <li class="admin clearfix">
                            <span class="chat-img right clearfix  mx-2">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="Admin" class="img-circle"/>
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header clearfix">
                                        <small class="left text-muted"><span class="glyphicon glyphicon-time"></span>13
                                            mins ago</small>
                                        <strong class="right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="agent clearfix">
                            <span class="chat-img left clearfix mx-2">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="Agent" class="img-circle"/>
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header clearfix">
                                        <strong class="primary-font">Jack Sparrow</strong> <small
                                                class="right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet.
                                    </p>
                                </div>
                            </li>
                            <li class="admin clearfix">
                            <span class="chat-img right clearfix  mx-2">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="Admin" class="img-circle"/>
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header clearfix">
                                        <small class="left text-muted"><span class="glyphicon glyphicon-time"></span>15
                                            mins ago</small>
                                        <strong class="right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
