{% extends 'base.html.twig' %}

{% block title %}Devenir formateur interne{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="title-grey MarianneBold">Devenir Formateur interne</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi deserunt, dolore
                    doloribus, esse eveniet fugit illum labore minus modi numquam odio placeat possimus quas reiciendis,
                    sunt totam ut voluptatibus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus et expedita illum iure libero
                    neque porro provident quae? Cum deserunt
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ex incidunt ipsam magni
                    possimus rem temporibus vel voluptate. Ab eaque ex
                    excepturi exercitationem fugit nesciunt possimus praesentium quo sunt vero.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam necessitatibus ratione
                    similique sit? Animi at atque cumque est, iusto quasi quisquam ratione reiciendis,
                    rem sapiente veritatis voluptas voluptatibus voluptatum.
                </p>
            </div>
        </div>

        <div class="row col-12">

        </div>
    </div>
{% endblock %}
