{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('back_user_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
