{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Bienvenue sur le pannel d'administration</h1>
    <p>Naviguez sur la barre à gauche pour vous rendre sur un menu</p>
{% endblock %}
