{% extends 'base.html.twig' %}

{% block title %}Hello BackAdminController!{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{ path('back_contact_index') }}">Contacts</a>
{% endblock %}
