<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include 'elements/navbar.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>
