{% extends 'dashboard.html.twig' %}

{% block title %}Edit DevenirFormateur{% endblock %}

{% block body %}
    <h1>Edit DevenirFormateur</h1>

    {{ include('devenir_formateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_formateur_devenir_formateur_index') }}">back to list</a>

    {{ include('devenir_formateur/_delete_form.html.twig') }}
{% endblock %}
