@import "variables";

html, body {
    height: 100%;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.nostyle {
    font-family: inherit; /* 1 */
    background-color: inherit;
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    border-style: none;
    overflow: visible;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nostyle:focus {
    outline: none;
}

.nostyle::placeholder {
    color: $gray-200;
}

.text-gray-200 {
    color: $gray-200;
}

article.formateur {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: solid $blue 3px;
}

.btn-outline-primary {
    border-color: $blue;
}

.btn-outline-primary:hover {
    background-color: $blue;
}