@import "variables";

html, body {
    height: 100%;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.nostyle:focus {
    outline: none;
}

.nostyle::placeholder {
    color: $gray-200;
}

.text-gray-200 {
    color: $gray-200;
}

article.formateur {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: solid $blue 3px;
}

.btn-outline-primary {
    border-color: $blue;
}

.btn-outline-primary:hover {
    background-color: $blue;
}

.search-button {
    background-color: $blue;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}