/*/////////////////////////////////*/
/*/////////  chat styles  /////////*/
/*/////////////////////////////////*/
@import 'variables';

.title {
  h1 {
    color: $high-grey;
    margin-bottom: 45px;
  }
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;

}

.chat li {
  margin-bottom: 40px;
  padding-bottom: 5px;
  /* border-bottom: 1px dotted #B3A9A9; */
  margin-top: 10px;
  width: 80%;
}


.chat li .chat-body p {
  margin: 0;
  /* color: #777777; */
}

.card {
  border-radius: 30px;
  background-color: #f4f4f4;
  border: none;
}

.card-footer {
  background: transparent;
  padding-bottom: 30px;
  border: none;
}

.chat-care {
  overflow-y: scroll;
  height: 450px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-care .chat-img {
  width: 50px;
  height: 50px;
}

.btn.btn-outline-primary {
  margin-right: 10px;
}

.chat-care .img-circle {
  border-radius: 50%;
}

.chat-care .chat-img {
  display: inline-block;
}

.chat-care .chat-body {
  display: inline-block;
  max-width: 80%;
  border-radius: 30px;
  padding: 15px;
}

.chat-care .admin {
  text-align: right;
  float: right;

  .chat-body {
    background-color: $high-grey;
    border-bottom-right-radius: 0;
  }
}

.chat-care .admin p {
  text-align: left;
  color: #fff;
}

.agent p {
  color: #fff;
}

.chat-care .agent {
  text-align: left;
  float: left;


  .chat-body {
    background-color: $blue;
    border-bottom-left-radius: 0;
  }
}

.chat-care .left {
  float: left;
}

.chat-care .right {
  float: right;
}

.clearfix {
  clear: both;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
