{% extends 'dashboard.html.twig' %}

{% block title %}Edit Home{% endblock %}

{% block body %}
    <h1>Edit Home</h1>

    {{ include('home/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_home_index') }}">back to list</a>

    {{ include('home/_delete_form.html.twig') }}
{% endblock %}
